<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unity3d.player"
	android:installLocation="preferExternal"
	android:theme="@android:style/Theme.NoTitleBar"
    android:versionCode="1"
    android:versionName="1.0">
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"/>

    <application
		android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:debuggable="true">
        <activity android:name="com.scoreflex.unity3d.ScoreflexUnityActivity"
                  android:launchMode="singleTask"
                  android:label="@string/app_name"
                  android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
            <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name="com.scoreflex.ScoreflexActivity" android:configChanges="orientation"></activity>

		<receiver android:name="com.scoreflex.ScoreflexBroadcastReceiver"
        		  android:permission="com.google.android.c2dm.permission.SEND">

    		<meta-data android:name="notificationIcon" android:resource="@drawable/app_icon" />
    		<meta-data android:name="activityName" android:value="com.scoreflex.unity3d.ScoreflexUnityActivity" />

    		<intent-filter>
	        	<action android:name="com.google.android.c2dm.intent.RECEIVE" />
    		    <category android:name="com.unity3d.player" />
    		</intent-filter>

		</receiver>
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<meta-data android:name="com.scoreflex.push.SenderId"
        android:value="@string/push_sender_id" />
	</application>

	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET"/>
	<permission android:name="com.unity3d.player.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
	<uses-permission android:name="com.unity3d.player.permission.C2D_MESSAGE" />
</manifest>
